<div class="light-grey-box govuk-!-margin-top-8 govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-m">Ready to get started?</h2>
    <p class="govuk-body">
        Enrol on this course and begin your first module. You will need to sign in or create an account before starting a module.
    </p>
    <div class="govuk-button-group">
        <a class="govuk-link" href="/users/sign-in">Create an account or sign in</a>
    </div>
</div>
