<div class="prompt prompt-home">
    <span class="prompt__icon" aria-hidden="true">i</span>
    <div class="prompt__content">
        <h2 class="govuk-heading-l">Why you should take this training</h2>
        <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>start and pause the training at any time so you can complete each module at your own pace</li>
            <li>get practical ideas to use in your setting</li>
            <li>use the learning log to make notes on your reflections</li>
            <li>test your knowledge and reflect on your own practice</li>
            <li>complete the modules in any order</li>
            <li>download a certificate of completion after each module</li>
        </ul>
    </div>
</div>
