@{

    Layout = "_HeroLayout";

    ViewData["Title"] = "Sign in";

}



@section Hero {

    <div class="govuk-grid-row govuk-!-padding-top-9">

        <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">How to access this training course</h1>

            <p class="govuk-body-l">

                This service uses GOV.UK One Login which is managed by the Government Digital Service.

            </p>

        </div>

    </div>

}



<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <p class="govuk-body">

            You will be asked to sign in to your account, or create a One Login account, in this service.

        </p>



        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



        <a class="govuk-button" href="/users/auth/openid_connect" data-module="govuk-button" role="button" draggable="false">

            Continue to GOV.UK One Login

        </a>

    </div>

</div>



<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-9">

    <div class="govuk-grid-column-three-quarters">

        <details class="govuk-details" data-module="govuk-details">

            <summary class="govuk-details__summary">

                <span class="govuk-details__summary-text">How to access an existing training account</span>

            </summary>

            <div class="govuk-details__text">

                <p class="govuk-body">

                    If you have an existing early years child development training account but you do not yet have a GOV.UK One Login, you must use the same email address for both accounts. This will ensure that any progress you have made through the training is retained.

                </p>

            </div>

        </details>

    </div>

</div>

