@{
    ViewData["Title"] = "Goodbye";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Account closed</h1>

        <p class="govuk-body">We have received your request to close your account.</p>

        <p class="govuk-body">Your data will be deleted within 10 working days.</p>

        <p class="govuk-body">You have been logged out.</p>

        <p class="govuk-body">
            <a class="govuk-link" href="/">Go to Early years child development training home</a>
        </p>
    </div>
</div>
